html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*--------------------------------------------------------------
# Scroll bar
--------------------------------------------------------------*/

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar track {
    box-shadow: inset 0 0 5px #cfcaca;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgb(199, 3, 255, 1), rgba(95, 3, 255, 1));
    border-radius: 10px;
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #ff3c00;
    margin: 0 auto;
}

.section__title {
    margin: 0 auto;
    text-align: center;
}

.section__title h1 {
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    line-height: var(--big-font-size);
    color: var(--first-color);
}

.section__title span {
    font-weight: var(--font-light);
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    color: var(--black-color);
}


/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/

.btn {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--first-color);
    color: var(--white-color);
    border: 1px solid var(--first-color);
    border-radius: 50px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    line-height: var(--normal-font-size);
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn:hover {
    background-color: transparent;
    color: var(--first-color);
}

.btn__outline {
    width: 280px;
    background-color: transparent;
    color: var(--first-color);
    padding: 5px 10px 5px 0;
    transition: all 400ms ease-in-out;
    position: relative;
}

.btn__outline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 50px;
    transition: all 400ms ease-in-out;
}

.btn__outline i {
    margin-right: var(--mb-1-5);
    font-size: var(--h2-font-size);
    color: var(--white-color);
    z-index: var(--z-tooltip);
}

.btn__outline:hover::before {
    width: 100%;
    z-index: var(--z_negative);
}

.btn__outline:hover {
    color: var(--white-color);
    z-index: var(--z-tooltip);
}


/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/

.navbar {
    background: #816d96 !important;
    border-bottom: 1px solid #ddd;
    padding: 30px;
    justify-content: space-between;
    display: flex;
}

.nav-content {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-brand {
    padding-left: 5rem;
    height: 8rem;
}

.navbar-brand img {
    height: 5rem;
    width: 7rem;
    display: inline;
}

.main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

nav ul li {
    font-weight: 600;
    display: block;
    padding: 0 0.6rem;
    font-size: 15px;
    text-align: center;
    list-style: none;
}

nav ul li a {
    color: white !important;
    font-family: sans-serif;
    text-transform: uppercase;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

nav ul li a:hover {
    transform: scale(1.1);
}

nav ul li ul {
    color: white !important;
    margin-top: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 180px;
    z-index: 99999;
    background: #816d96 !important;
    padding: 0;
    left: 0;
}

nav ul li ul>li {
    padding: 0;
    display: block;
    border-bottom: 1px solid #4a444a;
}

nav ul li ul>li>a {
    padding: 10px 10px 10px 15px;
    display: block;
    color: #ffffff;
}

nav ul li ul>li:last-child {
    border-bottom: none;
}

nav ul li ul>li:hover {
    transform: scale(1);
}

nav ul li ul>li:hover a:before {
    opacity: 0;
}

nav ul li:hover ul {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}

nav ul li .mega-menu-area {
    padding: 18px 35px;
    width: 688px;
    left: -208px;
}

@media (min-width: 768px) and (max-width: 991px) {
    nav ul li .mega-menu-area {
        left: -324px;
    }
}

nav ul li .mega-menu-area>li {
    width: 141px;
    border-bottom: none;
    display: inline-block;
    margin-right: 14px;
}

nav ul li .mega-menu-area>li:hover {
    background: transparent!important;
}

nav ul li .mega-menu-area>li:hover>a {
    color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

nav ul li .mega-menu-area>li:hover>a:hover {
    color: #ffffff;
    background: #d32f2f;
    padding-left: 10px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

nav ul li .mega-menu-area>li a {
    padding: 8px 0;
    display: block;
    border-bottom: 1px solid #433d3d;
}

nav ul li .mega-menu-area>li a:last-child {
    border-bottom: none;
}

nav ul li .mega-menu-area>li:last-child {
    margin-right: 0;
}

nav ul li:hover>a,
nav ul .active>a {
    position: relative;
}

nav ul li:hover>a:before,
nav ul .active>a:before {
    opacity: 1;
    width: 57%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.hero-img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.inner-page {
    background: #006bdf;
}

.carousel-inner img {
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width:990px) {
    .carousel-inner img {
        width: 100vw;
        height: 50vh;
    }
}

.carousel-caption {
    width: 800px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.carousel-caption h5 {
    font-size: 4rem;
    font-weight: 800;
}

.carousel-caption p {
    font-size: 22px;
    text-transform: uppercase;
    color: #c3aeff;
    letter-spacing: 2px;
}

.carousel-caption p a {
    font-size: 22px;
    text-transform: uppercase;
    color: #c3aeff;
    letter-spacing: 2px;
}

.carousel-item .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-outline-primary {
    color: #552882;
    border-color: #552882;
}

.btn-outline-primary:hover {
    color: #333;
    background-color: #f150bf;
    border-color: #f150bf;
}

@media only screen and (max-width: 600px) {
    .carousel-caption h2 {
        font-size: 19px;
        color: #f1ad50;
    }
    .carousel-caption p {
        font-size: 14px;
        font-weight: bold;
    }
}


/*--------------------------------------------------------------
# Men
--------------------------------------------------------------*/

.parlour h2 {
    text-align: center;
}

.parlour .row {
    display: flex;
    align-items: center;
    padding: 20px 80px;
    height: 100%;
    width: 100%;
}

.parlour .row {
    display: flex;
    align-items: center;
    padding: 20px 80px;
    height: 100%;
    width: 100%;
}

.parlour .card {
    width: 50%;
    max-width: 400px;
    margin: 2% 0 0 36%;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
}

.parlour .card img {
    height: 200px;
    width: 335px;
}

.parlour .card .description {
    height: auto;
}

.parlour .card .hair-cut {
    font-size: 1.2rem;
}

.parlour .card .price {
    font-size: 1.0rem;
}

.parlour .card .button-get {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-flex;
    padding: 12px 30px 12px 30px;
    line-height: 1;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
    background-color: rgb(207, 80, 80);
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }
    .profile-main {
        text-align: left;
        margin-left: 2em;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: #816d96 !important;
    font-family: 'Berlin Sans FB';
}

.footer-content {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #444;
}

.footer-col {
    padding-right: 1rem;
    width: 33%;
}

.footer-col1 {
    width: 440px;
    padding-bottom: 1rem;
}

.footer-col-title {
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-col-title a {
    color: #fff;
}

.footer-col-title strong span {
    color: #f0a62e;
}

.location {
    margin-left: 1rem;
}

.address>p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.address>p>strong {
    width: 3.8rem;
    color: #f0a62e;
    letter-spacing: 1px;
}

.address>p>a {
    color: #fff;
}
